# Generic python dependencies
black==25.9.0
mypy==1.18.2
pip==25.3
pre-commit==4.3.0
ruff==0.14.4

# Home Assistant testing dependencies
pytest-homeassistant-custom-component==0.13.295
syrupy>=4.6.1

# Component dependencies
hassil>=3.2.0
home-assistant-intents>=2025.9.3
pyturbojpeg>=1.8.0

openai==2.7.1
voluptuous_openapi>=0.0.5
